/* Styles go here */

.logotext {
    font-size: 3rem;
    font-family: 'Tilt Prism', cursive;
    color: aliceblue;
}

.logobox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tagline {
    color: white;
    font-family: 'Golos Text', sans-serif;
}

.formtitle {
    color: #e3e3e3;
}

.formbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}